@import '../common'

.navbar
  height 6.5rem
  background-color $primaryColor
  padding 1rem
  .nav-links
  .logo
    display inline-block
  .logo
    h1
      a
        color $lightTextColor
        margin-right 50%
  .nav-links
    span
      a
        color $lightTextColor
        font-size 1.6rem
